@page
@model dylan.at.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Test</title>
</head>
<body>
<div>
    <p>Hello World! As a test here is todays date in UTC: @Model.UTC</p>
</div>
</body>
</html>